.container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-linghtGray);
    color: var(--color-white);
    padding-bottom: 2rem;
}

.container_footer .max-width .box_copy .text_copy{
    padding: 3rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container_footer .max-width .box_copy .text_copy .box_terms_and_security a{
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: var(--color-white);
    text-decoration: underline;
    font-size: 1.6rem;
    font-family: var(--font-secondary);
}

.container_footer .max-width .box_copy .text_copy .box_company{
    padding: 2rem;
    max-width: 65%;
}

.container_footer .max-width .box_copy .text_copy .company_cnpj{
    margin-bottom: 2rem;
}

.container_footer .max-width .box_copy .text_copy .company_cnpj,
.container_footer .max-width .box_copy .text_copy .description_product{
    display: block;
    font-size: 1.6rem;
    font-family: var(--font-secondary);
    color: var(--color-white);
    font-weight: normal;
    line-height: 1.5;
}

.container_footer .max-width .box_copy .box_copy_right{
    padding: 0 3rem;
}

.container_footer .max-width .box_copy .box_copy_right,
.container_footer .max-width .box_copy .box_copy_right ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_footer .max-width .box_copy .box_copy_right ul li{
    border: .1rem solid #DDD;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-linghtGray);
    margin-left: 1rem;
    cursor: pointer;
}

.container_footer .max-width .box_copy .box_copy_right ul li a i{
    color: var(--color-white);
    font-size: 2rem;
}

.container_footer .max-width .box_copy  .copy_right{
    display: block;
    font-size: 1.6rem;
    font-family: var(--font-secondary);
    color: var(--color-white);
    font-weight: normal;
    padding: 0 2rem;
}
